<%= leafable_edit_form(section, id: "section-editor") do |form| %>
  <h1><%= text_area_tag "leaf[title]", section.title, required: true, autofocus: true, class: "input input--textara full-width txt-align-center", autocomplete: "off", data: { controller: "autoselect" }  %></h1>
  <%= form.check_box :theme, { data: { controller: "remote-click", action: "toggle-class#toggle" }, hidden: true }, "dark", "" %>
  <%= form.submit "Save", hidden: true %>
<% end %>
