<%= turbo_frame_tag user, :access do %>
  <div class="flex align-center gap-half pad-inline">
    <span class="overflow-ellipsis"><%= user.name %></span>
    <hr class="flex-item-grow margin-none">

    <% if Current.user.can_administer? && user != Current.user %>
      <%= render "books/accesses/#{book.access_level_for(user: user)}", user: user, book: book %>
    <% end %>
  </div>
<% end %>
