<hr class="margin-block-end half-width margin-none-inline">
<%= render "leaves/history", leaf: @leaf %>

<nav class="book__nav flex align-center gap justify-center">
  <%= link_to_next_leafable(leaf, hotkey: false, for_edit: true) %>
</nav>
