<% edit = leaf.edits.sorted.last %>

<hr class="margin-block-end half-width margin-none-inline">
<span class="txt-small--responsive">
  Last updated <%= link_to time_ago_in_words(edit.created_at), book_page_edit_path(edit.leaf.book, edit.leaf.leafable, edit) %> ago.
</span>
