.book {
  display: grid;
  inline-size: 100ch;
  grid-template-columns: minmax(200px, 20dvw) 1fr;
  column-gap: 3dvw;

  @media (max-width: 80ch) {
    grid-template-columns: 1fr;
  }
}

.book__cover {
  background-color: var(--color-border);
  border: 1px solid var(--color-border-dark);
  border-radius: 0.3em;
  margin: auto;
  max-block-size: var(--cover-height, 75dvh);
}
