.editor {
  caret-color: var(--color-link);
  font-family: var(--font-sans);
  hyphens: none;
  min-block-size: 20lh;
  text-align: left;
  text-justify: unset;

  p {
    hyphens: none;
  }
}

.editor-toolbar {
  --column-gap: var(--inline-space-half);

  border-radius: 2em;
  padding: var(--inline-space-half) var(--inline-space);
}
