.page__editor {
  caret-color: var(--color-link);
  font-family: var(--font-sans);
  hyphens: none;
  min-block-size: 20lh;
  text-align: left;
  text-justify: unset;

  p {
    hyphens: none;
  }
}

.page__picker {
  inline-size: auto;
  inset: auto auto -100% 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  transition: display 0.5s allow-discrete, inset 0.5s allow-discrete, opacity 0.5s, overlay 0.5s allow-discrete;

  &::backdrop {
    background-color: oklch(var(--lch-always-black));
    opacity: 0;
    transition: display 0.5s allow-discrete, opacity 0.5s, overlay 0.5s allow-discrete;
  }

  &[open] {
    inset-block-end: var(--block-space);
  }

  @starting-style {
    &[open] {
      inset-block-end: -100%;
    }
  }

  img { max-inline-size: unset; }
}
